// -----------------------------------------------------------------------------
// Basic project styling
// -----------------------------------------------------------------------------

html {
  box-sizing : border-box;
}

*,
*::before,
*::after {
  box-sizing : inherit;
}

* {
  font-family             : $text-font-stack;
}

body {
  display                 : block;
  position                : relative;

  font-style              : normal;

  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing  : antialiased;
  font-smoothing          : antialiased;

  line-height             : 1.6250;

  color                   : $text-color;
}